.banner{
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("https://source.unsplash.com/syVqx2fQ2MY");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    color: white;  
}

.banner button{
    width: fit-content;
    margin-inline: auto;
}

.menu{
    margin: 5rem 0;
}

.customer img{
    width: 5rem;
}

.review-star{
   color: rgb(255, 174, 0);
}

.header_banner, .about_banner{
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("https://source.unsplash.com/syVqx2fQ2MY");
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    color: white; 
}

.clock {
    font-size: 1.5em;
    color: #333;
}


